<p id="notice"><%= notice %></p>

<p>
  <b>Subject:</b>
  <%= @announcement.subject %>
</p>

<p>
  <b>Body:</b>
  <%= @announcement.body %>
</p>


<%= link_to 'Edit', edit_announcement_path(@announcement) %> |
<%= link_to 'Back', announcements_path %>
