<%= simple_form_for [:admin, @event], :html => { :class => "form-horizontal" }  do |f| %>

  <% if f.error_notification %>
  <div class="alert alert-error fade in">
    <a class="close" data-dismiss="alert" href="#">&times;</a>
    <%= f.error_notification %>
  </div>
  <% end %>

  <legend>Event</legend>

    <%= f.input :name, :input_html => { :class => "span6" },
                :hint => "Event name" %>
    <%= f.input :details, :input_html => { :class => "span6" },
                :hint => "What's happening?" %>
    <%= f.input :location, :input_html => { :class => "span6" },
                :hint => "Where at?" %>
    <%= f.input :start_time, :input_html => { :class => "span2" },
                :hint => "When should I be there?" %>
    <%= f.input :end_time, :input_html => { :class => "span2" },
                :hint => "When should I bounce?" %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= submit_tag 'Cancel', :type => :reset,
                             :confirm => 'Are you sure?',
                             :class => 'btn btn-danger' %>
  </div>
<% end %>
