<h1>Listing events</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Details</th>
    <th>Location</th>
    <th>Start time</th>
    <th>End time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.name %></td>
    <td><%= event.details %></td>
    <td><%= event.location %></td>
    <td><%= event.when_it_starts %></td>
    <td><%= event.when_it_ends %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_event_path %>
