<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :name %>
    <%= f.input :details %>
    <%= f.input :location %>
    <%= f.input :start_time %>
    <%= f.input :end_time %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
