<% if notice %>
<div id="notice" class="alert alert-info"><%= notice %></div>
<% end %>

<h1><%= @event.name %></h1>

<p>
  <%= @event.details %>
</p>

<p>
  <b>Location:</b>
  <%= @event.location %>
</p>

<p>
  <b>Start time:</b>
  <%= @event.start_time %>
</p>

<p>
  <b>End time:</b>
  <%= @event.end_time %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
