<!DOCTYPE html>
<html>
<head>
  <title>Nuhacks</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="flashes">
    <% if flash.notice %>
    <div class="flash notice">
      <p class="notice"><%= notice %></p>
    </div>
    <% end %>
    <% if flash.alert %>
    <div class="flash alert">
      <p class="alert"><%= alert %></p>
    </div>
    <% end %>
  </div>

  <div class="wrapper">
    <%= yield %>
  </div>

</body>
</html>